/* 후기 게시판 REVIEW_BOARD 시작 */
/*  -------------------    별점 */
.star_rating {
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    float: left;
    flex-direction: row;
    justify-content: flex-start;
}

.star_rating .star {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    display: inline-block;
    background: url('../images/empty_star.png') no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

.star_rating .star.on {
    width: 25px;
    height: 25px;
    margin-right: 5PX;
    display: inline-block;
    background: url('../images/filled_star.png') no-repeat;
    background-size: 100%;
    box-sizing: border-box;

}



/* -------------------   후기 글쓰기 */

.review_write_area {
    /* 상하좌우 정중앙 정렬하기 */
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}

#review_container .ftco-about::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: white !important;
    z-index: -2;
    width: 63%;
}

.reviewsub-btn input[type="submit"],
.reviewsub-btn button[type="button"],
.review_btn_del,
.review_btn_rep,
.review_del_form>input[type="submit"],
.review_del_form>button[type="button"],
.review_del_form>input[type="button"] {
    background-color: #01d28e;
    outline: none;
    border: none;
}
.reviewsub-btn>#submitReviewBtn {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    margin-right: 20px;
    color: #fff !important;
    font-size: 14px;
}


textarea .summernote,
textarea:focus {
    /* border: none;*/
    outline: none;
    width: 500px;
    height: 400px;
    border-radius: 5px;
    padding: 2px 2px 2px 10px;

}

textarea#review_txt {
    width: 700px;
    height: 300px;
    resize: none;

}



/*  -------------------   후기 게시판 글목록 */
.reviewsub-btn {
    text-align: center;
    display: inline-block;
}

.review_article_inner {
    display: flex;
    /* display: -ms-flexbox; */
    align-items: center;
    /* -ms-flex-align: center */
    /* border: 1px red solid; */
    width: 140px;
    height: 180px;

}

.img_thumb_area {
    position: relative;
    margin-right: 12px;
    margin-bottom: 30px;

}

.img_thumb_area img {
    width: 190px;
    height: 140px;
    border-radius: 5px;
}

.review_article_inner {
    margin-top: 10px;
}

.review_txt_tit {
    /* border: 1px black solid; */
    padding-left: 10px;
    margin-bottom: 25;
    position: relative;
    margin: auto;
    height: 35px;
}

.review_txt_area {
    position: relative;
    padding-top: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 700px;
    height: 120px;
    font-size: 10pt;
}

.review_txt_area a.txt {
    padding-left: 10px;
    text-align: left;
    overflow: hidden;
    /* 말줄임표(...)가 숨겨지는 영역의 끝 부분에 생김*/
    text-overflow: ellipsis;
    /* line-height x -webkit-line-clamp*/
    height: 8em;
    display: -webkit-box;
    line-height: 2;
    -webkit-line-clamp: 4;
    /* 보여줄 줄 수 */
    -webkit-box-orient: vertical;

}

.review_writer_info_area {
    /* border: 1px purple solid; */
    position: relative;
    width: 150px;
    line-height: 2.1;
    height: 180px;
}

.review_writer_info {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: right;
    /* border:2px red solid; */
}

.review_writer_info ul>li {
    list-style: none;
    /* height: 180px; */
    font-size: 9pt;
    width: 108px;
}

.article-movie-sub .movie-img {
    display: table-cell;
    position: relative;
    width: 120px;
    height: 120px;
    padding-left: 35px;
    vertical-align: top;
}

.review_user_info {
    display: flex;
    align-items: center;
}

.jb-division-line {
    border-top: 1px solid #444444;
    margin: 30px 0px;
}
.review_search {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* border: 1px #dee2e6 solid; */
}

.review_search form {
    display: flex;
    align-items: center;
}

.review_search select,
.review_search input,
.review_search button {
    margin-right: 10px;
}

.review_search input {
    flex: 1;
}

.review_searchtext {
    border: 1px #dee2e6 solid;
}

.review_searchtext:focus {
    outline: none;

}

.review_search button[type="submit"] {
    outline: none;
    border: none;
    background-color: #01d28e;
    border-radius: 5px;
    color: white;
    width: 50px;
    height: 33px;
}

.review_paging_search_area {
    padding: 30px 0 30px;
}

.review_paging_search_area,
.review_paging {
    width: fit-content;
    margin: 0 auto;
}

.review_paging>a {
    color: black;
}


    /*    좋아요    */

.u_ico > button.like-button,
.u_ico > button.like-button:focus {
    border: none;
    background: white;
    color: grey; /* 초기 색상 */
    outline: none; /* 클릭 시 포커스 아웃라인 제거 */
}
.u_ico > button.like-button.on{
    color: red; /* 하트가 채워졌을 때의 색상 */
}

/*  -------------------   후기 상세 화면 */
.review_detail_area {
    height: 400px;
    /* border: 2px blue solid; */
}

.review_detail_img_area {
    float: left;
    position: relative;
    height: 400px;
    width: 400px;
    /* border: 2px blue solid; */

}

.review_detail_img_area img {
    margin-top: 60px;
    margin-bottom: 50px;
    vertical-align: middle;
    height: 300px;
    width: 400px;
    float: left;
    /* border: 1px yellow solid; */
}

.review_detail_header {
    /* border: 1px rgb(5, 255, 88) solid; */
    width: 550px;
    height: 90px;
    display: inline-block;
    margin-top: 53px
}

.review_detail_header>.re_left {
    /* border: 3px blue solid; */
    width: 65%;
    float: left;
    /* background: #ff0; */
    height: 90px;
}

.review_detail_content {
    /* border: 1px orange solid; */
    width: 550px;
    height: 208px;
    display: inline-block;
    /* margin-bottom: 40px; */
    border-radius: 5px;
}

.review_detail_writer_info {
    text-align: left;
    /* width: 350px; */
    height: 28.7px;
    padding-right: 20px;
}

.review_detail_writer_info>p {

    font-size: 11px;
    /* text-align: left; */
    /* width: 150px; */
    padding-right: 40px;
    display: inline;
}

.review_detail_header>.re_right {
    /* border: 3px blue solid; */
    width: 35%;
    /* border: 1px solid rgb(29, 206, 168); */
    float: left;
    height: 90px;
}

.review_detail_content>.re_right {
    /* border: 3px blue solid; */
    width: 35%;
    float: left;
    height: 208px;
    font-size: 11px;
}

.review_detail_content>.re_left {
    width: 65%;
    /* border: 1px solid rgb(29, 206, 168); */
    float: left;
    height: 90px;
}

.review_detail_content>.re_left>.review_detail_text {
    font-size: 13px;
    /* border: 1px red solid; */
    height: 208px;
    text-align: left;
}

.review_detail_content>.re_right ul {
    padding-left: 20px;
    padding-right: 20px;
}

.review_button_area {
    float: right;
    width: 300px;
    height: 30px;
    /* border: 1px red solid; */
    padding-left: 15px;
    padding-right: 15px;

}

.review_button_area>button {
    width: 60px;
    height: 25px;
    margin-right: 20px;
    border-radius: 3px;
    color: #fff !important;
    font-size: 12px;
    /* float: right; */

}

.review_button_area.review_btn_del,
.review_button_area.review_btn_rep {

    text-align: center;

}

.review_del_form>input[type="submit"],
.review_del_form>input[type="button"] {
    outline: none;
    border: none;
    /* background-color: #01d28e; */
    background-color: #00CED1;
    border-radius: 5px;
    color: white;
    width: 50px;
    height: 33px;
    font-size: 12px;
}

/* 수정버튼 - 모달창 */

/*.review_btn_rep {
      display: block;
      margin: 40px auto;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      transition: box-shadow 0.2s;
  }*/

.review_btn_rep:hover,
.review_btn_del:hover {
    box-shadow: 3px 4px 11px 0px #00000040;
}

/*모달 팝업 영역 스타일링*/
.modal,
.modal_del {
    /*팝업 배경*/
    display: none;
    /*평소에는 보이지 않도록*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
}

.modal .modal_popup,
.modal_del .modal_popup_del {
    /*팝업*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #ffffff;
    border-radius: 20px;
}


.modal .modal_popup .reviewsub-btn>input,
.modal .modal_popup .reviewsub-btn>button,
.modal_del .modal_popup_del .reviewsub-btn>input,
.modal_del .modal_popup_del .reviewsub-btn>button{
    display: block;
    /* padding: 10px 20px; */
    background-color: #00CED1;
    /* background-color: #01d28e; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.2s;
    width: 60px;
    height: 30px;
    margin-right: 20px;
    border-radius: 3px;
    color: #fff !important;
    font-size: 12px;
    display: inline-block;
    /* float: right; */
}

.modal.on,
.modal_del.on {
    display: block;
}

.review_del_form.on {
    display: none;
}

.review_rep_form.on {
    display: none;
}

.bg-light>textarea#commentwritearea:focus {
    border: none;
    outline: 0;
    width: 500px;
    height: 400px;
    border-radius: 5px;
    padding: 2px 2px 2px 10px;

}

/* 댓글 */

.card {
    position: relative;
    display: flex;
    padding: 20px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.media img {

    width: 60px;
    height: 60px;
}


.reply a {

    text-decoration: none;

}

/* 댓글내용 왼쪽정렬*/
.card,
.user_review_comment{

    text-align: left;
}

/* 'reply' 글자 */
.pull-right {

    text-align: center;
}

.pull-right>a,
.pull-right>span {
    color: #00CED1;
}

/* 댓글 내 수정 버튼 */
.pull-right>input.edit {
    float: left;
    width: 17px;
    margin-right: 20px;
}

/* 댓글 내 삭제 버튼 */
.pull-right>input.delete {
    float: left;
    width: 17px;
}

.write_date {
    /* 댓글 작성 날짜*/
    font-size: 10px;
    padding-top: 3px;
}

#recomment {
    /*대댓글 창 배경*/
    background-color: white !important;

}


/* 후기 게시판 REVIEW_BOARD 끝 */