<div th:fragment="footer-fragment">
    <footer class="ftco-footer ftco-bg-dark ftco-section" style="background-color: #003F5C;">
        <div class="container" >
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"><a th:href="@{/}" class="logo" style="color: #d9e3ec;">ING<span
                                style="color: #00CED1;">Car</span></a></h2>
                        <p>GET YOUR STUNNING CAR <br> IN REASONABLE PRICE WITH ING Car !</p>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2"></h2>
                        <ul class="list-unstyled">
                            <li><a th:href="@{/car_registration}" class="py-2 d-block">내차팔기</a></li>
                            <li><a th:href="@{/car_list}" class="py-2 d-block">내차사기</a></li>
                            <li><a th:href="@{/review_main}" class="py-2 d-block">후기게시판 </a></li>
                            <li><a th:href="@{/mypage}" class="py-2 d-block">마이페이지</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"> </h2>
                        <ul class="list-unstyled">
                            <li><a href="privacypolicy.html" class="py-2 d-block">개인정보처리방침 </a></li>
                            <li><a href="#" class="py-2 d-block">회사소개 </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">회사정보</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">서울특별시 강남구 도산대로 888 </span></li>
                                <li><a href="#" style="pointer-events: none"><span class="icon icon-phone"></span><span class="text">02-2222-3333</span></a></li>
                                <li><a href="#" style="pointer-events: none"><span class="icon icon-envelope"></span><span
                                        class="text">ingcar@ingcar.co.kr</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>